{% extends 'resume/resume_base.html' %}
{% load widget_tweaks %}

{% block title %}
    Update Resume
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="mx-4 min-h-screen max-w-screen-xl sm:mx-8 xl:mx-auto">
        <h1 class="text-3xl font-semibold mb-4">Settings</h1>
        <hr class="my-4 border-gray-300">
        <div class="flex">
            <!-- Sidebar Menu -->
            <div class="col-span-2 hidden sm:block mr-4">
                <ul id="settingsMenu">
                    <li class="mt-5 cursor-pointer border-l-2 border-l-blue-700 px-2 py-2 font-semibold transition hover:border-l-blue-700 hover:text-blue-700"><a href="{% url 'update-company' %}">Accounts</a></li>
                    <li class="mt-5 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-blue-700 text-blue-700 hover:text-blue-700"><a href="{% url 'update-company' %}">Applicants</a></li>
                    <li class="mt-5 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-blue-700 hover:text-blue-700"><a href="#jobs">Jobs</a></li>
                    <li class="mt-5 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-blue-700 hover:text-blue-700"><a href="#notifications">Notifications</a></li>
                </ul>
            </div>
            <!-- End Sidebar Menu -->
            
            <!-- Form Section -->
            <div class="flex-1">
                <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-xl">
                    <form class="px-6 py-8 space-y-6" method="post" action="">
                        <h2 class="text-xl font-semibold mb-6">Update Resume</h2>
                        {% csrf_token %}
                        <div class="flex flex-wrap -mx-3">
                            <div class="w-full md:w-1/2 px-3">
                                <label for="name" class="block text-gray-700 font-bold">Firstname</label>
                                {% render_field form.first_name id="name" class="form-input" %}
                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <label for="est_date" class="block text-gray-700 font-bold">Surname</label>
                                {% render_field form.surname id="firstname" class="form-input" %}
                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <label for="district" class="block text-gray-700 font-bold">Location</label>
                                {% render_field form.location id="location" class="form-input" %}
                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <label for="headQuaters" class="block text-gray-700 font-bold">Job Title</label>
                                {% render_field form.job_title id="job_title" class="form-input" %}
                            </div>
                            
                        </div>
                        <div class="mt-6">
                            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Form Section -->
        </div>
        <!-- End Main Content -->
    </div>
{% endblock %}
