{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% block title %}
register applicant
{% endblock %}

{% block content %}
<!-- Container for the link and form -->
<div class="container mx-auto flex flex-col items-center justify-center mt-8">
    <!-- Styled link for recruiters -->
    <div class="w-full max-w-md mx-auto bg-gray-800 p-4 mb-4 rounded-lg shadow-md">
        <a href="{% url 'register-recruiter' %}" class="text-white font-semibold hover:underline">Do you have a company? Register here</a>
    </div>

    <!-- Form -->
    <div class="w-full max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-lg">
        <div class="md:flex">
            <div class="w-full px-6 py-8">
                <!-- Title for the form -->
                <h2 class="text-2xl font-semibold mb-4">Applicant Registration</h2>
                <form class="w-full" method="post" action="{% url 'register-applicant' %}">
                    {% csrf_token %}
                    <!-- Username field -->
                    <div class="mb-6">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {% if form.username.errors %}
                            <p class="text-red-500 text-xs italic">{{ form.username.errors }}</p>
                        {% endif %}
                    </div>
                    <!-- Email field -->
                    <div class="mb-6">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {% if form.email.errors %}
                            <p class="text-red-500 text-xs italic">{{ form.email.errors }}</p>
                        {% endif %}
                    </div>
                    <!-- Password field -->
                    <div class="mb-6">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <p class="text-red-500 text-xs italic">{{ form.password1.errors }}</p>
                        {% endif %}
                    </div>
                    <!-- Confirm Password field -->
                    <div class="mb-6">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <p class="text-red-500 text-xs italic">{{ form.password2.errors }}</p>
                        {% endif %}
                    </div>
                    <!-- Submit button -->
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Register applicant</button>
                </form>
                <!-- Link to login page -->
                <div class="mt-4 text-center">
                    <a class="text-sm text-gray-600 underline" href="{% url 'login' %}">Already have an account? Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
